version: "3.9"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: microblog
      POSTGRES_USER: microblog
      POSTGRES_PASSWORD: microblog
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build: .
    environment:
      POSTGRES_DB: microblog
      POSTGRES_USER: microblog
      POSTGRES_PASSWORD: microblog
      POSTGRES_HOST: db
      FLASK_ENV: production
    depends_on:
      - db
    ports:
      - "5000:5000"

volumes:
  db_data:
  
